# EditorConfig: https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
indent_style = space

# Razor files
[*.{cshtml,razor}]
indent_size = 2
indent_style = space

# JSON files
[*.json]
indent_size = 2
indent_style = space

# XML files
[*.{xml,csproj,props,targets}]
indent_size = 2
indent_style = space
