@model IEnumerable<AtlasViewer.Models.Item>
@{
 ViewData["Title"] = "Items";
}

<h1>Items</h1>

@if (!Model.Any())
{
 <p>No hay documentos en la colección.</p>
}
else
{
 <table class="table">
 <thead>
 <tr>
 <th>Id</th>
 <th>Name</th>
 <th>Value</th>
 </tr>
 </thead>
 <tbody>
 @foreach (var item in Model)
 {
 <tr>
 <td>@item.Id</td>
 <td>@item.Name</td>
 <td>@item.Value</td>
 </tr>
 }
 </tbody>
 </table>
}
